<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/htmx.js"></script>
  </head>
  <body>
    <main>
      <button hx-get="/api/se" hx-target="#se-data" hx-swap="innerHTML">
        Get SE
      </button>
      <div id="se-data"></div>

      <button hx-get="/api/fi" hx-target="#fi-data" hx-swap="innerHTML">
        Get FI
      </button>
      <div id="fi-data"></div>

      <button hx-get="/api/no" hx-target="#no-data" hx-swap="innerHTML">
        Get NO
      </button>
      <div id="no-data"></div>
    </main>
  </body>
</html>
